<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{87,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{173,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{259,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{345,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{431,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{517,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,121}</string>
                <key>spriteSourceSize</key>
                <string>{84,121}</string>
                <key>textureRect</key>
                <string>{{603,1},{84,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>L_UperBody.png</string>
            <key>size</key>
            <string>{688,123}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5684e20eaba39e2b459b5af7a0016eda:7f16273b87f127ead645fdcdf56b209e:ad694a73c4c60036f7e7a09845c22337$</string>
            <key>textureFileName</key>
            <string>L_UperBody.png</string>
        </dict>
    </dict>
</plist>
