<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,176}</string>
                <key>spriteSourceSize</key>
                <string>{158,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,176}</string>
                <key>spriteSourceSize</key>
                <string>{158,176}</string>
                <key>textureRect</key>
                <string>{{161,1},{158,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,176}</string>
                <key>spriteSourceSize</key>
                <string>{158,176}</string>
                <key>textureRect</key>
                <string>{{321,1},{158,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyRangeIdle.png</string>
            <key>size</key>
            <string>{480,178}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:17fc340214c832de54a9907f1c736762:7790a9598867500b7ae043691a90df7a:8c4c2c06ced21ac8cd6c5ccd2a86d83a$</string>
            <key>textureFileName</key>
            <string>EnemyRangeIdle.png</string>
        </dict>
    </dict>
</plist>
