<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,172}</string>
                <key>spriteSourceSize</key>
                <string>{212,172}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,172}</string>
                <key>spriteSourceSize</key>
                <string>{212,172}</string>
                <key>textureRect</key>
                <string>{{215,1},{212,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>RangeAtt.png</string>
            <key>size</key>
            <string>{428,174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a48cb200de046a14426fd942481852ad:d68c5cafa0ffc56aa22550ce1cc6b98f:5e3899eecbb9c9a9f6a95f2909a9684c$</string>
            <key>textureFileName</key>
            <string>RangeAtt.png</string>
        </dict>
    </dict>
</plist>
