<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,378}</string>
                <key>spriteSourceSize</key>
                <string>{174,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,378}</string>
                <key>spriteSourceSize</key>
                <string>{174,378}</string>
                <key>textureRect</key>
                <string>{{1,381},{174,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,378}</string>
                <key>spriteSourceSize</key>
                <string>{174,378}</string>
                <key>textureRect</key>
                <string>{{1,761},{174,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,378}</string>
                <key>spriteSourceSize</key>
                <string>{174,378}</string>
                <key>textureRect</key>
                <string>{{1,1141},{174,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyOneIdle.png</string>
            <key>size</key>
            <string>{176,1520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a34bc2bf205524cf21943972a97bf88d:72c494037367664981fb01c190d50f70:225bfd12eaf9dfcdb29c9a2c4c0d3f5d$</string>
            <key>textureFileName</key>
            <string>EnemyOneIdle.png</string>
        </dict>
    </dict>
</plist>
