<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LowBeeAttack1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,89}</string>
                <key>spriteSourceSize</key>
                <string>{78,89}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LowBeeAttack2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,60}</string>
                <key>spriteSourceSize</key>
                <string>{118,60}</string>
                <key>textureRect</key>
                <string>{{78,0},{118,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LowBeeNormal1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,106}</string>
                <key>spriteSourceSize</key>
                <string>{59,106}</string>
                <key>textureRect</key>
                <string>{{196,0},{59,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LowBeeNormal2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,87}</string>
                <key>spriteSourceSize</key>
                <string>{88,87}</string>
                <key>textureRect</key>
                <string>{{255,0},{88,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyLowBee.png</string>
            <key>size</key>
            <string>{343,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2dfcd45d8d860f68eb8be24d5c6e347e:3b4b8012a514a04a8c8c9ef944314376:4ae0b5aef6ade471d9b20ad01d189b00$</string>
            <key>textureFileName</key>
            <string>EnemyLowBee.png</string>
        </dict>
    </dict>
</plist>
