<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,188}</string>
                <key>spriteSourceSize</key>
                <string>{216,188}</string>
                <key>textureRect</key>
                <string>{{1,1},{216,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,188}</string>
                <key>spriteSourceSize</key>
                <string>{216,188}</string>
                <key>textureRect</key>
                <string>{{1,191},{216,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,188}</string>
                <key>spriteSourceSize</key>
                <string>{216,188}</string>
                <key>textureRect</key>
                <string>{{1,381},{216,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,188}</string>
                <key>spriteSourceSize</key>
                <string>{216,188}</string>
                <key>textureRect</key>
                <string>{{1,571},{216,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,188}</string>
                <key>spriteSourceSize</key>
                <string>{216,188}</string>
                <key>textureRect</key>
                <string>{{1,761},{216,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>EnemyLowBeeAttack.png</string>
            <key>size</key>
            <string>{218,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2832ff6bc5f3d4c6ad49bd74ad598513:e797702d55a87db4197b1918c36cca9e:5845e609dfb5ceb469572ce26a2748e7$</string>
            <key>textureFileName</key>
            <string>EnemyLowBeeAttack.png</string>
        </dict>
    </dict>
</plist>
