<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{0,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{432,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{864,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{1296,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{1728,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{2160,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{2592,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{3024,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,768}</string>
                <key>spriteSourceSize</key>
                <string>{432,768}</string>
                <key>textureRect</key>
                <string>{{3456,0},{432,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aa.png</string>
            <key>size</key>
            <string>{3888,768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7427cf9f414423250de752db94bc6ec2:7fa17c22736631eacbe1c1a3cb52d55d:26fd5cd047b0de8877164cd25f721611$</string>
            <key>textureFileName</key>
            <string>aa.png</string>
        </dict>
    </dict>
</plist>
